<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>

<p> Click to add current dice to to your scoring dice set </p>
<%= @die %>
<% if @dice.count > 0 %>
  <% @dice.each_with_index do |d, i| %>
    <%= form_tag(add_to_set_game_path(@game), method: "put" ) do %>
      <%= button_tag "#{d}" %>
      <%= hidden_field_tag 'die', i %>
    <% end %>
  <% end %>
<% end %>


<%if @dice2 != nil %>
  <% @dice2.each_with_index do |d, i| %>
    <%= form_tag('/add_to_set', method: "put" ) do %>
      <%= button_tag "#{d}" %>
      <%= hidden_field_tag 'die', i %>
    <% end %>
  <% end %>
<% end %>

<%= form_tag(roll_remaining_dice_game_path(@game), method: "put" ) do %>
  <%= button_tag "Reroll Remaining Dice" %>
  <%= hidden_field_tag 'current_player', @current_player %>
<% end %>
<%= form_tag(farkle_game_path(@game), method: "put" ) do %>
  <%= button_tag "Farkle?" %>
<% end %>

<%= form_tag(game_path, method: "put" ) do %>
  <%= button_tag "Score your points" %>
  <%= hidden_field_tag 'current_player', @current_player %>
<% end %>

