<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>
<p><%= @game.players.first.name %>'s score: 
<%= @game.players.first.score %></p>

<p><%= @game.players.second.name %>'s score: 
<%= @game.players.second.score %></p>




<p><%= @game.players.find(@game.preferences[:current_player]).name %>'s current dice to select from:</p>
<p> Click to add to your set </p>

<%= @die %>
<% if @dice.count > 0 %>
  <% @dice.each_with_index do |d, i| %>
    <%= form_tag(add_to_set_game_path(@game), method: "put" ) do %>
      <%= button_tag "#{d}" %>
      <%= hidden_field_tag 'die', i %>
    <% end %>
  <% end %>
<% end %>


<p> Current dice to be scored: </p>
<% if @game.preferences[:scoring_dice2].present? %>
  <%=   @game.preferences[:scoring_dice] %>
  <%=   @game.preferences[:scoring_dice1] %>
  <%=   @game.preferences[:scoring_dice2] %>
<% elsif @game.preferences[:scoring_dice1].present? %>
  <%=   @game.preferences[:scoring_dice] %>
  <%=   @game.preferences[:scoring_dice1] %>
<% elsif @game.preferences[:scoring_dice].present?  %>
  <%=   @game.preferences[:scoring_dice] %>
<% end %>

<%= form_tag(roll_remaining_dice_game_path(@game), method: "put" ) do %>
  <%= button_tag "Reroll Remaining Dice" %>
  <%= hidden_field_tag 'current_player', @current_player %>
<% end %>


<%= form_tag(winner_game_path, method: "put" ) do %>
  <%= button_tag "Score your points" %>
<% end %>

