<% if @game.players.first.score > @game.players.second.score %>
  <%= @game.players.first.name %> is the winner!
<% else %>
  <%= @game.players.second.name %> is the winner!
<% end %>

<%= link_to "Play again?", :controller => "game", :action => "home" %>
<p><%= @game.players.first.name %>'s score: 
<%= @game.players.first.score %></p>

<p><%= @game.players.second.name %>'s score: 
<%= @game.players.second.score %></p>